
<div id="player1">
  <img src="http://img.pokemondb.net/artwork/pikachu.jpg">
  <ul class="poke-details">
    <li class="pokejax details poke-name"></li>
    <li class="pokejax details poke-hp"></li>
    <li class="pokejax details poke-move"></li>
  </ul>
</div>

<div id="player2">
   <ul class="poke-details">
    <li class="pokejax details poke-name"></li>
    <li class="pokejax details poke-hp"></li>
    <li class="pokejax details poke-move"></li>
   </ul>
   <img src="http://img.pokemondb.net/artwork/pikachu.jpg">
</div>
