
<div id="player1">
  <img src="http://i.ebayimg.com/00/s/NTAwWDQ5OA==/z/dm0AAOxyVaBSs-G1/$_35.JPG?set_id=2">
  <ul class="poke-details">
    <li class="pokejax details poke-name"></li>
    <li class="pokejax details poke-hp"></li>
    <li class="pokejax details poke-move"></li>
  </ul>
</div>

<div id="player2">
   <ul class="poke-details">
    <li class="pokejax details poke-name"></li>
    <li class="pokejax details poke-hp"></li>
    <li class="pokejax details poke-move"></li>
   </ul>
   <img src="http://i.ebayimg.com/00/s/NTAwWDQ5OA==/z/dm0AAOxyVaBSs-G1/$_35.JPG?set_id=2">
</div>
