<h1>Welcome to DevPokemon</h1>
<div id="player1">
  <img src="http://img.pokemondb.net/artwork/charizard.jpg">
</div>

<div id="player2">
   <img src="http://img.pokemondb.net/artwork/bulbasaur.jpg">
</div>
