body {
  background-image: url("http://img05.deviantart.net/9d1b/i/2011/045/c/b/pokemon_town_by_neffertity-d39ks2h.jpg");
}

h1 {
  margin-left: 50px;
  margin: center;
  color: yellow;
}

#player1 {
  margin-top: 20px;
  padding-left: 20px;
  height: 400px;
  width: 400px;
}

#player1 img, #player2 img {
  height: 350px;
  width: 350px;
}

#player2 {
  float: right;
  padding-right: 20px;
  height: 400px;
  width: 400px;

}

#form-header {
  height: 75px;
}

#poke-forms {
  margin-top: -50px;
  float: right;
}

.poke-form {
  margin: 0px 10px;
}

.poke-form .button {
  background-color: red;
  border-radius: 3px;
  color: yellow;
  height: 50px;

}

.poke-details {
  list-style: none;
  font-weight: bold;
  border-radius: 3px;
}


