<div id="form-header">
  <h1>Welcome to DevPokemon</h1>

<table id="poke-forms">
  <tr>
    <td>
    <form id="poke1 poke-form" action="/pokemon" method="post">
      <input type="text" name="poke1" placeholder="Enter Pokemon #1!">
      <input class="button" type="submit" value="Get Pokemon!">
    </form>
    </td>

    <td>
    <form id="poke2 poke-form" action="/pokemon" method="post">
      <input type="text" name="poke2" placeholder="Enter Pokemon #2!">
      <input class="button" type="submit" value="Get Pokemon!">
    </form>
    </td>
  </tr>
</table>



</div>
